
p{
    background-color: white;
    color:#000;
    
}

.bname{
    color:red;
    font-size:20px
}
.gname{
    color:blue;
    font-size:20px
}
.smContainer{
    height:2000px;
    width:800px;
    overflow:auto;
}
.bpic{
    width:200px;
    height:160px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;

}
.gpic{
    width:200px;
    height:160px;
    padding: 5px 5px 5px 5px;
    border-radius: 20px;

}
.box{
    width:100px;
    height:100px;
    margin-bottom: 10px;
 }
 .containerAbsolute{
    background-color:#ccc;
    height: 200px;
    width:200px;
     border-color: #000;
     border-style: solid;
     margin-top:200px;
     margin-left:500px;
     position: absolute
}
.containerRelative{
    background-color:#ccc;
    height: 200px;
    width:200px;
     border-color: #000;
     border-style: solid;
     margin-top:200px;
     margin-left:150px;
     position:absolute;
     
}

.blueBoxAbsolute{
    background: red;
    position:absolute;
    top:50px;
    left:50px;
 }
.blueBoxFixed{
    background: brown;
    position:fixed;
    top:150px;
    left:250px;
 }
.blueBoxRelative{
    background: #627da0;
    position:relative;
    bottom:0px;
    left:0px;
}
.greenBox{
    background:#5b8054;
     
}
