  <h1>User Registration </h1>
  <form (ngSubmit)="addUsers()" #userForm="ngForm">
   <div class="container">
       <div class="row ">
           <div class="col-md-12" id="addUsers">
                <div class="col-md-4">
                    <label>First Name :</label><br/>
                    <input type="text"  name="firstName" [(ngModel)]="firstName"/> <br/>
                </div>
                <div class="col-md-4">
                    <label>Last Name :</label><br/>
                    <input type="text"  name="lastName" [(ngModel)]="lastName"/><br/>
                </div>
                  <div class="col-md-2">
                    <label>MI :</label><br/>
                    <input type="text"  name="MI" [(ngModel)]="MI"/><br/>
                  </div>
                  <div class="col-md-2" id="submitUsers">
                    <input type="submit" class="btn btn-success" value="Add" /><br/>
                  </div>
            </div>
     </div>
  </div>