  <h1>User Registration </h1>
  <form (ngSubmit)="addUsers()" #form="ngForm"  novalidate>
   <div class="container">
       <div class="row ">
           <div class="col-md-12" id="addUsers">
                <div class="col-md-4 formGroup">
                   <label>First Name :</label><br/>
                   <!--$event passes the value !-->
                    <input type="text"  required class="form-control" name="firstName" [ngModel]="userModel.firstName" (ngModelChange)="firstNameToUpperCase($event)" /> <br/>
                     <input type="text"  required class="form-control" name="firstName1" [ngModel]="firstName1"  /> <br/>
                  
                     </div>
                <div class="col-md-4 formGroup">
                    <label>Last Name :</label><br/> 
                    <input type="text"  class="form-control" name="lastName" [(ngModel)]="userModel.lastName" /><br/>
                 </div>
                <div class="col-md-2">
                  <label>MI : </label><br/>
                  <input type="text" required class="form-control" name="MI" ng-model /><br/>
                </div>
                  <div class="col-md-2" id="submitUsers">
                    <input type="submit" class="btn btn-success" value="Add" /><br/>
                  </div>
            </div>
       </div>
       <div class="row ">
            <div class="col-md-12 checkbox" >
                <div class="col-md-4 ">
                   <label>Is Admin </label><br/>
                     <input type="checkbox" name="isAdmin" [(ngModel)]="isFullTime"/><br/>
                 </div>
            </div>
       </div>
       <div class="row ">
            <div class="col-md-12 radio" >
               <label>Sex</label><br/>
               <!--Names are the same for the radio button !-->
                <div class="col-md-2 ">
                     <input type="radio" name="sexType" [(ngModel)]="sexType" value="m"/><br/>Male
                 </div>
                  <div class="col-md-2">
                       <input type="radio" name="sexType" [(ngModel)]="sexType" value="f"/><br/>Female
                 </div>
            </div>
          
       </div>
        <div class="row ">
            <div class="col-md-12 " >
                <div class="col-md-4 formGroup">
                   <label>Primary language :</label><br/>
                   <select class="form-control" name="primaryLanguage" [(ngModel)]="userModel.primaryLanguage">
                      <option *ngFor ="let lang of languages">
                         {{lang}}
                      </option>
                      
                  </select>
              </div>
            </div>
       </div>
     </div>

   </form>
