.floatRight{
    width:200px;
    height:200px;
    float:left;
    background-color: red;
    
}
.floatLeft{
    width:200px;
    height:200px;
    float:left;
    background-color: #ccc;
}
h1{
    clear:left;
}
.box{
    width:200px;
    height:200px;
    border-bottom:1px solid #eee;
    background-color: lightgrey;
}
.centerContainer{
    position:absolute;
    width:100%;
    top:50%;
    margin-top:-50px;
    left:0;
}
.horizontalAlign{
    margin:0 auto;
}
.verticalAlign{
    position:absolute;
    top:50%;
    margin-top:-50px;
}
