.floatRight{
    width:200px;
    height:200px;
    float:left;
    background-color: red;
    
}
.floatLeft{
    width:200px;
    height:200px;
    float:left;
    background-color: #ccc;
}
h1{
    clear:left;
}
.box{
    width:200px;
    height:200px;
    border-bottom:1px solid #eee;
    background-color: lightgrey
}
.blueBox{
    margin:0 auto;
}